.form{
    /*margin-top: 20px;  */
    margin-bottom: 20px;
}

.adress{
    margin-top: 87px;
}

h1{
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 20px;
}

input{
    border: 1px solid;
    width: 90%;
    padding: 10px;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    background-color : #336699;
}

#submit{
    float: right;
    margin-right: 35px;    
}

textarea{
    border: 1px solid;
    width: 90%;
    height: 300px;
    padding: 10px;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #336699;
    
}

.submt .lala{
    float: right;
    margin-right: 15px;
    /*margin-left: 50px;*/
}

.
